@import '../../styles/common';

.Marie {
  position: relative;
}

.main {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.mainText {
  font-family: Luminari-Regular;
  font-size: 18px;
}

.pattern {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.patternImg {
  height: 33px;
  width: 50px;
}

.introduction {
  height: 400px;
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.section {
  height: 350px;
  width: 300px;
}

.mainMain {
  height: 225px;
  width: 300px;
  margin-bottom: 25px;
}

.sub {
  height: 100px;
  width: 300px;
}

.mainImg {
  height: 200px;
  width: 300px;
  object-fit: cover;
  object-position:0% 0%;
}

.frenchJapanese {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.french {
  font-family: Luminari-Regular;
  font-size: 18px;
}

.japanese {
  font-size: 14px;
}
