@import "defs";

.container {
  width: $grid-breakpoint-md;
  margin: 0 auto;
  padding: 0 32px;
  box-sizing: border-box;

  @include media-breakpoint-down($grid-breakpoint-md) {
    position: relative;
    width: 100%;
    padding: 0 16px;
  }
}

.globalAnchor {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  transform: translateY((-120px);
}

.ww {
  display: inline-block;
}

.wl {
  display: block;
}

