$key-color: #48a2d5;
$grid-breakpoint-md: 1020px;
$grid-breakpoint-sm: 740px;

@mixin media-breakpoint-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-breakpoint-up($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin text-nowrap {
  white-space: nowrap;
}

@mixin text-ellipsis {
  @include text-nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin mobile {
  @include media-breakpoint-down($grid-breakpoint-sm) {
    @content;
  }
}
